<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update address Book Form</title>
  </head>
  <body>
    <h1>Update your contact details here</h1>
    <form
      action="#"
      th:action="@{/contact/update/__${contact.hexID}__}"
      th:object="${contact}"
      method="post"
    >
      <label for="name">name</label><br />
      <input type="text" th:field="*{name}" /><br />
      <label for="email">email</label><br />
      <input type="text" th:field="*{email}" /><br />
      <label for="phone">phone</label><br />
      <input type="text" th:field="*{phone_num}" /><br />
      <input type="submit" , value="update" />
    </form>
  </body>
</html>
